<%# Here we are just showing all messages (the message thread or message index) for the messages in one project
between the users %>

<div class="container chatroom"
  data-controller="project-subscription"
  data-project-subscription-project-id-value="<%= @project.id %>"
  data-current-user="<%= current_user.id %>"
  data-current-user-name="<%= current_user.first_name %>">
  <div style="padding-left: 15px; padding-top: 2px">
    <div class="row">
        <%=  link_to inbox_path do %>
      <div class="col-3">
          <h2 style="color: orange"><i class="fa-solid fa-chevron-left"></i></h2>
        <%end%>
      </div>
      <div class="col" style="margin: -18px">
        <h1>#<%= @project.name %></h1>
      </div>
    </div>
  </div>


  <div class="messages" data-project-subscription-target="messages">
    <% @project.messages.order(:created_at).each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>


  <%= simple_form_for [@project, @message],
    html: { data: { action: "turbo:submit-end->project-subscription#resetForm" }, class: "d-flex" } do |f|
  %>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@project.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <div style="padding-left: 5px">
    <%= f.submit "Send", class: "button-3 mb-3" %>
    </div>
  <% end %>
</div>
