<%# Hi guys!
So in this page we are showing the overview of all the subtasks (it is essentially the subtask index page
with probably a bit of info on the task)
If they are a client, they cannot add edit the task or subtasks or add new ones.
We must do <% if Project.contractor? %>

<div class="container">                                                                            <%# MAIN CONTAINER %>

      <div class="text-center">                                                             <%# TASK title  | - ROW 1 %>
                  <h1><%= @task.name %></h1>

      </div>

<div class="border-bottom"></div>                                                                       <%# underline %>

      <div class="row">                                                           <%# General info row      | - ROW 1 %>

                  <div class="col">                                                  <%# CLIENT COLUMN >    | - COL 1 %>

                      <div class="d-flex justify-content-center">
                          <h1> 73% </h1>
                      </div>

                  </div>

                  <div class="col">                                                    <%# DATE COLUMN >    | - COL 2 %>

                    <h3> Start Date: </h3>
                    <%=  @task.start_date %>

                    <h3> Due Date: </h3>
                    <%=  @task.end_date %>

                  </div>

      </div>                                                                                       <%# /MAIN INFO ROW %>

<div class="border-bottom"></div>                                                                       <%# underline %>

<%= @task.sub_tasks.count %> subtasks:  __________        =NEW SUBTASK +

<div class="border-bottom"></div>

<% @task.sub_tasks.each do |sub_task|%>


      <div class="row">                                                                        <%# task div | - ROW 1 %>

            <div class="col">                                                          <%# progress wheel   | - COL 1 %>

            <% if sub_task.completed? %>
              <i class="fa-regular fa-circle-check"></i>
            <%else%>
              <i class="fa-regular fa-circle-xmark"></i>
            <% end %>

            </div>                                                                               <%# /progress wheel  %>


            <div class="col">                                                          <%# progress wheel   | - COL 1 %>


              <div class="row">

                <%=  sub_task.name %>

              </div>


              <div class="row">

                <%=  sub_task.description %>

              </div>


            </div>                                                                               <%# /progress wheel  %>


      </div>                                                                                          <%# / task div  %>

<div class="border-bottom"></div>

<% end %>

<%= render "sub_tasks/sub_task_form", sub_task: @sub_task %>









</div>                                                                                            <%# /MAIN CONTAINER %>
