<%# Hi guys!
So in this page we are showing the overview of all the subtasks (it is essentially the subtask index page
with probably a bit of info on the task)
If they are a client, they cannot add edit the task or subtasks or add new ones.
We must do <% if Project.contractor? %>

<div class="container">

      <div class="text-center">
                  <h1><%= @task.name %></h1>

      </div>

<div class="border-bottom"></div>

      <div class="row">

                  <div class="col">

                      <div class="progresswheel">
                        <div style="position:relative">
                            <svg>
                              <circle class="bg" cx="57" cy="57" r="52" />
                              <circle class="meter-1" cx="57" cy="57" r="52" />
                            </svg>
                            <h2 style="position:absolute; top:37%; left:20%"> <%= @percentage.round %> % </h2>
                        </div>
                      </div>

                  </div>

                  <div class="col">

                    <h3> Start Date: </h3>
                    <%=  @task.start_date %>

                    <h3> Due Date: </h3>
                    <%=  @task.end_date %>

                  </div>

      </div>

<div class="border-bottom"></div>

<strong><%= @task.sub_tasks.count %> subtasks: </strong>
<br>
<br>
<div class="border-bottom"></div>
<% @task.sub_tasks.each do |sub_task|%>


        <div class="contio-card">

        <div class="row">
              <div class="col-2" data-controller="sub-tasks" data-task-id="<%= @task.id %>" data-project-id="<%= @task.project.id %>">                                                                        <%# task div | - ROW 1 %>


                <%= form_with(model: sub_task) do |form| %>
                  <%= form.check_box :completed,
                        data: {
                         id: sub_task.id,
                         action: "change->sub-tasks#toggle"
                       }, id:"subtaskcheckbox"%>
                <% end %>


              </div>


              <div class="col">

                  <div class="row">
                   <p><strong> <%=  sub_task.name %> </strong></p>
                  </div>

                  <div class="row">
                   <p><%=  sub_task.description %></p>
                  </div>

              </div>
        </div>

        </div>
<br>
<% end %>
<div class="border-bottom"></div>

</div>
</div>
<%= render "sub_tasks/sub_task_form", sub_task: @sub_task %>









</div>
