<%# Hi guys!
So in this page we are showing the overview of all the subtasks (it is essentially the subtask index page
with probably a bit of info on the task)
If they are a client, they cannot add edit the task or subtasks or add new ones.
We must do <% if Project.contractor? %>

<div class="logo d-flex justify-content-center">
  <div class="col" style="padding-left: 15px; padding-top: 2px">
    <%=  link_to project_path(@project) do %>
     <h2 style="color: orange"> <i class="fa-solid fa-chevron-left"></i></h2>
    <%end%>
  </div>
  <div class="col" style="padding-left: 28px">
  <h2>contio</h2>
  </div>
  <div class="col">
  </div>
</div>
<div class="main-container-all " id="task-page" data-controller="task-progress">
          <div class="row" style="">
            <h1 class="subtask-h1"><%= @task.name %> </h1>
          </div>
<div class="sticky-show-page">


                <div class="row" style="padding-top: 5px; padding-bottom: 8px">

                            <div class="col">
                              <% unless @task.sub_tasks.count == 0 %>
                                <div class="progresswheel">
                                  <div style="position:relative; padding-left:10px">
                                        <svg>
                                        <circle class="bg" cx="57" cy="57" r="52" />
                                        <circle data-task-progress-target="svg" style="stroke-dashoffset: <%= 380 - (360.0 * @percentage / 100.0) %>; transition: stroke-dashoffset 1.5s;"class="meter-1" cx="57" cy="57" r="52" />
                                      </svg>
                                      <h2 data-task-progress-target="percentage" style="position:absolute; top:37%; left:25%"> <%= @percentage.round %> % </h2>
                                  </div>
                                </div>
                                <% end %>
                            </div>

                            <div class="col" >
                              <div class="row" style="padding-top: 5px; padding-bottom: 20px">
                                <div class="subtask-intro" >
                                    <div>
                                      <p style="margin:0"> Start Date: </p>
                                      <h6> <strong><%= @task.start_date.strftime("%d %b") %> </strong></h6>
                                    </div>
                                </div>
                              </div>

                              <div class="row" style="padding-top: 5px; padding-bottom: 8px">
                                <div class="subtask-intro">
                                    <div>
                                      <p style="margin:0"> End Date: </p>
                                      <h6> <strong><%= @task.end_date.strftime("%d %b") %> </strong></h6>
                                    </div>
                                </div>
                              </div>
                            </div>
                </div>





    <div id="tasks-title" style="padding-top: 10px; padding-bottom: 22px">
        <div><strong><%= @task.sub_tasks.count %></strong> Subtasks:
    </div>

        <button type="button" class="btn btn-task" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-plus"></i> Add subtask
        </button>
      </div>
</div>

  <div data-controller="sortable">



    <% @task.sub_tasks.each do |sub_task|%>


      <div class="contio-card" style="margin-bottom: 15px">



    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start" >
          <div class="p-2" data-controller="sub-tasks" data-task-id="<%= @task.id %>" data-project-id="<%= @task.project.id %>">
            <%= form_with(model: sub_task) do |form| %>
              <%= form.check_box :completed,
                    data: {
                      id: sub_task.id,
                      action: "change->sub-tasks#toggle sub-tasks:toggle->task-progress#recalculate",
                      task_progress_target: "complete"
                    }, id:"subtaskcheckbox" %>

            <% end %>
          </div>

          <div class="p-2">
              <div class="row">
                <p style="margin-bottom: 1px; padding-top: 3px; font-weight: 400; font-size: 18px"><%=  sub_task.name %></p>
              </div>
              <div style="margin-right: 50px"></div>
              <% if sub_task.description? %>
                <div class="row">
                  <p style="padding-top: 1px"><%=  sub_task.description %></p>
                </div>
              <% end %>
          </div>
        </div>

        <div>
          <i class="fa-solid fa-ellipsis-vertical p-3 border-left" style="color: #c7c7c7; border-left:0.2px solid #c7c7c7"></i>
        </div>


        </div>
      </div>

    <% end %>

  </div>


    </div>
    </div>


        <!-- Button trigger modal -->

  <button type="button" class="btn btn-plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-plus"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn btn-close-x" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-angle-left"></i></button>
          <h5 class="modal-title" id="exampleModalLabel">Add New Subtask</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "sub_tasks/sub_task_form", task: @task %>
        </div>
      </div>
    </div>
  </div>
