<%# Hi guys!
So in this page we are showing the user profile page.
If they are a client, they cannot add any projects, tasks, subtasks.
We must do <% if Project.contractor? %>
<div class="profile-background">

  <% if @user.photo.key %>
    <%= cl_image_tag current_user.photo.key, class: "profile-avatar",  id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <% end %>

  <div id="profile-card">
    <div class="main-container-all">
      <h2><%=@user.first_name%> <%= @user.last_name %></h2>


      <h3>Email:</h3>
      <div class="contio-card pp flex-start">
        <div><i class="fa-solid icon fa-list-check"></i></div>
        <p style="margin:0px"><%= @user.email %> </p>
      </div>

      <h3>Mobile:</h3>
      <div class="contio-card pp flex-start">
        <div><i class="fa-solid icon fa-list-check"></i></div>
        <p style="margin:0px"><%= @user.phone_number %> </p>
      </div>

      <h3>User ID:</h3>
      <div class="contio-card pp flex-start">
        <div><i class="fa-solid icon fa-list-check"></i></div>
        <p style="margin:0px"><%= @projects.first.id %> </p>
      </div>
      <br>

        <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "button-3"%>

    </div>
  </div>

</div>
