<%# <h1>Pages#home</h1>
<%= month_calendar(attribute: :start_date, end_attribute: :end_date) do |date| %>
  <%# <%= date %>
<%# <% end %>


  <div class="content cards">
    <div class="content-inside">
          <h3 class="profile-header"><%=@user.first_name%> <%= @user.last_name %></h3>
          <div class="profile-box profile-information">
                  <p><%= @user.email %> </p>
                  <p><%= @user.phone_number %> </p>
                  <p><%= @projects.first.id %> </p>
                <div class="profile-button">
                  <%= link_to "Edit Profile", edit_user_registration_path(current_user), class: "btn btn-ghost"%>
                </div>
          </div>
    </div>
  </div>
