
<div class="form-style">
  <%= simple_form_for(@project) do |f| %>
    <%= f.input :name, label: 'Project name'%>

    <%= f.input :start_date, as: :date, html5: true, input_html: {id: "start_date"} %>
    <%= f.input :end_date, as: :date, html5: true, input_html: {id: "end_date"} %>


    
      <%= f.input :budget %>
      <%= f.input :client, collection: @clients, label_method: :full_name, input_html: {data: {controller: 'select2'}} %>


    <%= f.input :description %>
    <%= f.submit class: "btn-form" %>
  <% end %>
</div>
