<%# Hi guys!
So in this page we are showing the overview of all the tasks (it is essentially the task index page
with a bit of info on the project)
If they are a client, they cannot add edit the project or task or add new ones.
We must do <% if Project.contractor? %>


<div class="logo d-flex justify-content-center"><h2>contio</h2></div>
<div class="main-container-all" id="task-page">

  <h1 class="subtask-h1" style="padding-bottom: 5px"><%= @project.name %></h1>
  <div class="border-bottom" style="padding-left: 150px; padding-right: 150px"></div>
    <div class="task-intros" style="padding-left: 9px; padding-top: 15px;">
        <div class="task-intro">
          <% if @user.is_contractor %>
            <div>
              <i class="fa-solid icon fa-list-check"></i>
            </div>
            <div>
              <p> Client name: </p>
              <p> <strong><%= @project.client.first_name + " " + @project.client.last_name%></strong> </p>
            </div>
          <% else %>
            <div>
              <i class="fa-solid icon fa-list-check"></i>
            </div>
            <div>
              <p> Contractor: </p>
              <p><strong><%= @project.contractor.first_name + " " + @project.contractor.last_name%></strong></p>
            </div>
          <% end %>
        </div>
        <div class="task-intro">
          <div>
            <i class="fa-solid icon fa-list-check"></i>
          </div>
          <div>
            <p> Due: </p>
            <p> <strong><%= @project.end_date.strftime("%d %b") %> </strong></p>
          </div>
        </div>
    </div>


  <div class="description-project">
    <p><strong>Description: </strong> </p>
    <p> <%= @project.description %></p>
  </div>

  <%# Progress bar %>
  <div class="sticky-show-page">
    <div>
      <h5>Progress bar</h5>
        <p>You have <strong><%= @project.tasks.where(completed: false).count %> tasks</strong> remaining.</p>
      <div class="progress mb-3">
        <div class="progress-bar bg-warning" role="progressbar" style="width:<%= (@project.tasks.where(completed: false).count.to_f / @project.tasks.count.to_f) * 100 %>%" aria-valuenow="<%= (@project.tasks.where(completed: false).count.to_f / @project.tasks.count.to_f) * 100 %>" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-success" role="progressbar" style="width:<%= (@project.tasks.where(completed: true).count.to_f / @project.tasks.count.to_f) * 100 %>%" aria-valuenow="<%= (@project.tasks.where(completed: true).count.to_f / @project.tasks.count.to_f) * 100 %> " aria-valuemin="0" aria-valuemax="100"></div>
      </div>
        <div class="flex-container2">
          <div class="vl-orange">
            <div class="vl-padding">
            <strong>Pending: </strong>
            <p><%= @project.tasks.where(completed: false).count %> tasks</p>
            </div>
          </div>
          <div class="vl-green" >
            <div class="vl-padding">
            <strong>Completed: </strong>
            <p><%= @project.tasks.where(completed: true).count %> tasks</p>
          </div>
          </div>
        </div>

    </div>




      <div id="tasks-title">
        <div> <strong>Tasks:</strong></div>
        <% if @user.is_contractor? %>
          <button type="button" class="btn btn-task" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-plus"></i> Add task
          </button>
        <% end %>
      </div>                                                  <%#Tasks header    | - ROW 1 %>
  </div>


<%# (task.sub_tasks.where(completed: true).count.to_i / task.sub_tasks.count.to_i)  %>
      <% @project.tasks.each do |task| %>
        <div class="contio-card" id="task" style="padding: 5px 15px 0px 17px">
          <%=  link_to project_task_path(@project, task), style:"text-decoration:none !important" do %>
            <div>

              <div class="flex-between">
                <div id="task-name">
                   <strong> <div id="tasks-name"><%= task.name%></div> </strong>
                </div>
                <div id="priority">
                  <div <%= task.completed ? "completed" : "" %>>
                    <%if task.sub_tasks.count == task.sub_tasks.where(completed: true).count && task.sub_tasks.count > 0 %>
                      <div id="tag-completed">Done</div>
                    <% elsif ((task.end_date - @time).to_i) < 30 %>
                      <div id="tag-high">High</div>
                    <% elsif ((task.end_date - @time).to_i) >= 60 && ((task.end_date - @time).to_i) <= 120 %>
                      <div id="tag-medium">Medium</div>
                    <% else %>
                      <div id="tag-low">Low</div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="flex-between" style="padding-left: 8px">
                <%# <p class="due-date"><%= task.sub_tasks.count Subtasks</p> %>
                <li class="media mb-3 progress-bar-margin">
                  <div class="media-body align-self-center">
                    <div class="small text-muted mb-1"><%= task.sub_tasks.count.to_f > 0.0 ? (((task.sub_tasks.where(completed: true).count / task.sub_tasks.count.to_f) * 100)).truncate() : 0 %>% complete</div>
                      <div class="progress mb-1" style="height: 3px;">
                        <div class="progress-bar" role="progressbar" style="width: <%= (task.sub_tasks.where(completed: true).count / task.sub_tasks.count.to_f) * 100 %>%;" aria-valuenow="<%= (task.sub_tasks.where(completed: true).count / task.sub_tasks.count.to_f) * 100 %>" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                </li>
                <p class="due-date" style="padding-right: 15px; margin-top: 2px">Due: <strong><%=  task.end_date.strftime("%d %b") %></strong></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>



    <!-- Button trigger modal -->

  <button type="button" class="btn btn-plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-plus"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Task</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "tasks/task_form", task: @task %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
