<%# Hi guys!
So in this page we are showing the overview of all the tasks (it is essentially the task index page
with a bit of info on the project)
If they are a client, they cannot add edit the project or task or add new ones.
We must do <% if Project.contractor? %>



<div class="main-container-all" id="task-page">
  <h1><%= @project.name %></h1>
  <div class="task-intros">
      <div class="task-intro">
        <% if @user.is_contractor %>
          <div>
            <i class="fa-solid icon fa-list-check"></i>
          </div>
          <div>
            <p> Client name: </p>
            <p> <strong><%= @project.client.first_name + " " + @project.client.last_name%></strong> </p>
          </div>
        <% else %>
          <div>
            <i class="fa-solid icon fa-list-check"></i>
          </div>
          <div>
            <p> Contractor: </p>
            <p><strong><%= @project.contractor.first_name + " " + @project.contractor.last_name%></strong></p>
          </div>
        <% end %>
      </div>
      <div class="task-intro">
        <div>
          <i class="fa-solid icon fa-list-check"></i>
        </div>
        <div>
          <p> Due: </p>
          <p> <strong><%= @project.end_date.strftime("%d %b") %> </strong></p>
        </div>
      </div>
  </div>

  <div class="description-project">
    <p><strong>Description: </strong> </p>
    <p> <%= @project.description %></p>
  </div>

<h5>Progress bar</h5>
<div class="progress mb-3">
  <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">50%</div>
  <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
  <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">20%</div>
</div>



      <div id="tasks-title">
        <div> <strong>Tasks:</strong></div>
        <button type="button" class="btn btn-task" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-solid fa-plus"></i> Add task
        </button>
      </div>                                                  <%#Tasks header    | - ROW 1 %>

      <% @project.tasks.each do |task| %>
        <div class="contio-card" id="task">
          <%=  link_to project_task_path(@project, task), style:"text-decoration:none !important" do %>
            <div class="flex-between">
              <div class="progresswheel">
                  <svg>
                    <circle class="bg" cx="57" cy="57" r="26" />
                    <circle class="meter-1" cx="57" cy="57" r="26" />
                  </svg>
              </div>
              <div id="task-name">
                  <div id="tasks-name"><%= task.name%></div>                                                   <%# no of subtasks | -ROW 2 %>
                  <div id="tasks-remaining"><%= task.sub_tasks.count %> Subtasks</div>
              </div>
              <div id="priority">
                <div class="priority-sign">
                  <% if task.priority == "low"  %>
                    <div id="low-sign">low</div>
                  <% elsif task.priority == "medium" %>
                    <div id="medium-sign">medium</div>
                  <% else task.priority == "high" %>
                    <div id="high-sign">high</div>
                  <% end %>
                </div>
                <div>Due: <strong><%=  task.end_date.strftime("%d %b") %></strong></div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>



    <!-- Button trigger modal -->

  <button type="button" class="btn btn-plus" data-bs-toggle="modal" data-bs-target="#exampleModal">
    <i class="fa-solid fa-plus"></i>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render "tasks/task_form", task: @task %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>                                                                                            <%# /MAIN CONTAINER %>
