<%# Hi guys!
So in this page we are showing the overview of all the tasks (it is essentially the task index page
with a bit of info on the project)
If they are a client, they cannot add edit the project or task or add new ones.
We must do <% if Project.contractor? %>



<div class="main-container-all">                                                                        <%# MAIN CONTAINER %>
  <h1><%= @project.name %></h1>
                                                                   <%# underline %>

        <div class="row">                                                         <%# General info row      | - ROW 1 %>

            <div class="col">                                                        <%# CLIENT COLUMN >    | - COL 1 %>

              <% if @user.is_contractor %>
                <p> Client name: </p>
                <p><i class="fa-solid icon fa-list-check"></i> <%= @project.client.first_name + " " + @project.client.last_name%> </p>
                <% else %>
                <p> Contractor: </p>
                <p><i class="fa-solid icon fa-list-check"></i> <%= @project.contractor.first_name + " " + @project.contractor.last_name%> </p>
                <% end %>

            </div>

            <div class="col">                                                          <%# DATE COLUMN >    | - COL 2 %>

              <p> Due Date: </p>
              <p><i class="fa-solid icon fa-list-check"></i>  <%= @project.end_date %></p>

            </div>

        </div>                                                                                     <%# /MAIN INFO ROW %>

                                                                   <%# underline %>
        <p><strong>Description: </strong> </p>                   <%# DESCRIPTION HEADING   | - ROW 1 %>

        <p> <%= @project.description %></p>                           <%# /DESCRIPTION %>



      <div> Tasks: </div>                                                  <%#Tasks header    | - ROW 1 %>

      <% @project.tasks.each do |task| %>
        <div class="contio-card" id="task">
          <%=  link_to project_task_path(@project, task), style:"text-decoration:none !important" do %>
            <div class="flex-between">
              <div class="flex-between" id="progress-section">
                <div id="progress-bar"><i class="fa-solid fa-circle-notch"></i></div>
                <p id="progress">73%</p>                                                                           <%# /progress wheel  %>
              </div>
              <div id="task-name">
                  <div id="project.name"><%= task.name%></div>                                                   <%# no of subtasks | -ROW 2 %>
                  <p><%= task.sub_tasks.count %> Subtasks</p>
              </div>
              <div id="priority">
                  <%=  task.priority %>
                  Due date: <%=  task.end_date %>
              </div>
          </div>
        <% end %>
      </div>
    <% end %>
</div>                                                                                            <%# /MAIN CONTAINER %>
